<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-8VzbWNWVhA9mP-VAVTxpriCnqFHDw5E</string>
	<key>GCM_SENDER_ID</key>
	<string>458194550273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retailsolution.uz</string>
	<key>PROJECT_ID</key>
	<string>retail-56f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>retail-56f9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458194550273:ios:b8976c246a45f74753ca00</string>
</dict>
</plist>